@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
     background-color: #101010;
 }
.content {
    display: flex;
    grid-template-columns: 1fr;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    width: 100%;
    margin: 15px;
    padding: 15px;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
    div{
        background-color: #161748;
    }
    header {
        background-color: #dd2626;
    }

    img {
        width: 30%;
        padding: 15px;
    }
    input[type="text"] {
        width: 100%;
        margin: 5px auto;
        padding: 10px 5px;
        border: none;
        outline: none;
        font-family: Roboto;

   }
    input[type="password"] {
        width: 100%;
        margin: 5px 0 10px auto;
        padding: 10px 5px;
        border: none;
        outline: none;
        font-family: Roboto;
   }
    .login {
        width: 100%;
        border: none;
        background-color: #dd2626;
        color: #FFF;
        cursor: pointer;
        margin: 0px auto;
        padding: 10px 0px;
        font-weight: 400;
        font-family: Roboto;

   }
    .register {
        width: 100%;
        border: none;
        background-color: #FFF;
        color: #202020;
        cursor: pointer;
        margin: 10px auto;
        padding: 10px 0px;
        font-weight: 400;
        font-family: Roboto;

   }

   p {
       margin-top: 5px;
       color: #909090;
       font-family: Roboto;
       font-size: 10pt;
       text-align: center;
   }

   a {
       margin-top: 5px;
       text-decoration: none;
       color: #FFF;
       font-family: Roboto;
       font-size: 10pt;
       text-align: center;
   }
}
    .btnConnect {
        primary: "#ea618142"
    }